APP_BASE_URL=Cloud9でサービス開いた時のURL
MAIL_FROM=送信元のメールアドレス（Gmailがいいな）

SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_DOMAIN=gmail.com
SMTP_USERNAME=送信元のメールアドレス（Gmailがいいな）
SMTP_PASSWORD=https://myaccount.google.com/apppasswords ←このリンクからアプリパスワードを作成して空白を消してここに書く
SMTP_AUTH=plain
SMTP_ENABLE_STARTTLS=true
